# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
*.csv
*.pid

# Eviroment
.env

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage / testing
coverage/
.nyc_output/

# Build output
dist/
build/

# Misc
*.tgz
*.bak
*.swp
